* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  h1 {
    text-align: center;
    background-color: #3aab9e;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 0px;
  }
  nav {
    background-color: #323232;
    padding: 8px 0px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 0px;
      li {
        list-style: none;
        a {
          font-size: 18px;
          color: #fff;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover {
            color: rgba($color: #fff, $alpha: 0.75);
          }
        }
      }
    }
  }
}

.main-content {
  min-height: 97px;
  background: rgba($color: #fff, $alpha: 0.65);
  margin-top: 24px;
}

form,
.show-details {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
}

.show-details {
}
